PORT=3000
NODE_ENV=development
DB_PORT=5432
DB_HOST=localhost
DB_USER=******
DB_PASS=******
SUPABASE_LINK='https://*********'
SUPABASE_API_KEY='******************'
REDIS_HOST=localhost
REDIS_PORT=6379
TRACKED_KEYWORDS=error,timeout,failed,unauthorized